.banner {
    position: center;
    background-color: darkgoldenrod;
    font-family: "Arial Black", serif;
}

.links {
    margin-left: 20px;
    margin-right: 10px;
    font-family: Bahnschrift, serif;
    display: inline-block;
    width: auto;
}

.text {
    font-family: Arial, serif;
}

.links2 {
    float: right;
    font-family: Bahnschrift, serif;
    margin-right: 40px;
}

a:link {
    color: black;
}

a:visited {
    color: saddlebrown;
}

img {
    width: 180px;
    height: 450px;
    display: inline-block;
    margin-right: 20px;
    object-fit: cover;
}

input {
    border-top: none;
    border-right: none;
    border-left: none;
    font: 1em/1em "arial", serif;
    padding: 0 10px;
    margin: 0;
    width: 200px;
    background: none;
}

textarea {
    width: 200px;
    font: 1em/1em "arial", serif;
}

input:focus, textarea:focus {
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
}

button {
    margin-top: 10px;
    margin-left: 50px;
    cursor: pointer;
}

figure {
    display: inline-block;
}